* {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Comfortaa", cursive;
  font-size: 1.2rem;

  .return-home-icon {
    visibility: hidden;
    z-index: 999;
    cursor: pointer;
    position: fixed;
    bottom: 15px;
    right: 25px;
    padding: 5px;
    font-size: 1.3em;
    border-radius: 50%;
    background-color: #ffffffa1;
    box-shadow: 0px 0px 2px rgb(0, 0, 0);
    transition: box-shadow 0.6s;

    &:hover {
      color: white;
      background-color: #d9dac8;
    }
  }
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
  font-family: "Caveat", cursive;
  font-size: 3.5em;
  letter-spacing: 0.3em;
}

h2 {
  font-size: 2.8em;
  font-family: "caveat", cursive;
  font-weight: 100;
}

main {
  position: relative;
}

@media screen and (max-width: 492px) {
  h2 {
    font-size: 1.9em;
  }
}
